xml/dtd/Books.dtd

<!ELEMENT Books (book+)>
<!ELEMENT book (title?, (isbn+, (Zipcode | author))), publish*)>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title
    name CDATA #IMPLIED
>
<!ELEMENT isbn (#PCDATA)>
<!ATTLIST isbn
    no CDATA #REQUIRED
>
<!ELEMENT Zipcode (#PCDATA)>
<!ATTLIST Zipcode
    Zname CDATA "232232323"
>
<!ELEMENT author (#PCDATA)>
<!ELEMENT publish (#PCDATA)>
<!ATTLIST publish
    year CDATA "1995"
>
